/** @format */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(81, 79, 82);
  align-items: center;
  justify-content: center;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  /* background-color: rgb(48, 54, 54); */
  padding: 10px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  background-color: rgb(54, 46, 55);
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.575);
  align-items: center;
  z-index: 1;
}

#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 60vw;
  height: 80vh;
  border: 2px solid black;
}

#button-frame {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 2%;
  padding-top: 2%;
}

#close-menu {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border-color: rgb(152, 227, 250);
  color: rgb(152, 227, 250);
  font-size: 18px;
}
#close-menu:hover {
  scale: 1.01;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  color: rgb(152, 227, 250);
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  padding-top: 26px;
  text-align: center;
}

#new-card-group {
  padding: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background: rgb(182, 181, 178);
}

.symbol {
  all: unset;
  font-size: 24px;
  font-weight: 400;
  width: 30px;
  color: rgb(143, 143, 143);
}

.symbol:hover {
  scale: 1.1;
  color: white;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(48, 54, 54);
  gap: 12px;
  height: fit-content;
  /* width: 300px; */
  padding: 10px 20px;
}
.change-side {
  all: unset;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  color: white;
  font-weight: 500;
}
.change-side:hover {
  scale: 1.02;
  padding-left: 2%;
}

.edit-bar {
  /* display: flex; */
  text-align: right;
}

h6 {
  font-size: 26px;
  color: white;
}

textarea {
  all: unset;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: lighter;
}
